@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
*,
*:before,
*:after {
    font-family: "Playfair Display", "微軟正黑體";
    position: relative;
}

html,
body {
    width: 100%;
    height: 100%;
    border-radius: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #505050;
    color: white;
}

.scene {
    width: 700px;
    height: 500px;
    border-radius: 15px;
    overflow: hidden;
    background: -webkit-gradient(linear, left top, left bottom, from(#1D2B49), color-stop(#1A45A0), color-stop(#91cdff), to(#fff));
    background: linear-gradient(#1D2B49, #1A45A0, #91cdff, #fff);
    background-size: 100% 300%;
    -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
}

.scene .lefttopText {
    margin-left: 30px;
    margin-top: 30px;
}

.scene .lefttopText h1 {
    font-size: 36px;
    letter-spacing: 3px;
    margin-top: 0;
    font-weight: 300px;
}

.scene .lefttopText h5 {
    font-size: 14px;
    letter-spacing: 1px;
    opacity: 0.6;
    margin-bottom: 0;
    font-weight: 300px;
}

.scene .lefttopText p {
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 2px;
    opacity: 0.8;
}

.scene .lefttopText .blueblock {
    width: 20px;
    height: 25px;
    border-radius: 0;
    background-color: #7cb1ff;
}

.building {
    position: absolute;
    right: 0;
    bottom: 0;
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
}

[class^="house"] {
    position: absolute;
    bottom: 0;
    right: 0;
}

.house1 {
    width: 180px;
    height: 200px;
    border-radius: 0;
    background-color: #dbebfa;
    -webkit-box-shadow: inset -50px 0px #d7d7d8;
    box-shadow: inset -50px 0px #d7d7d8;
    z-index: 1;
}

.house1 .window {
    width: 40px;
    height: 100px;
    border-radius: 20px;
    background-color: #d7d7d8;
    -webkit-box-shadow: inset 8px 5px #9f9fa3;
    box-shadow: inset 8px 5px #9f9fa3;
    margin-top: 40px;
    margin-left: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.house1 .window .circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #534d4d;
    margin: 4px;
    margin-left: 10px;
}

.house2 {
    width: 240px;
    height: 170px;
    border-radius: 0;
    background-color: #dbebfa;
    -webkit-box-shadow: inset 0px 15px #8dc9fc, inset -72px 0px #d7d7d8;
    box-shadow: inset 0px 15px #8dc9fc, inset -72px 0px #d7d7d8;
    right: 130px;
    z-index: 2;
}

.house2 .door {
    width: 40px;
    height: 80px;
    border-radius: 20px 20px 0 0;
    position: absolute;
    bottom: 0;
    left: 45px;
    background-color: #505050;
    -webkit-box-shadow: inset 10px 2px #7cb1ff;
    box-shadow: inset 10px 2px #7cb1ff;
}

.house3 {
    width: 320px;
    height: 300px;
    border-radius: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #dbebfa;
    z-index: 0;
}

.house3 .wall {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.house3 .wall .window {
    width: 24px;
    height: 50px;
    border-radius: 12px 12px 0 0;
    margin-top: 30px;
    background-color: #505050;
}

.house3 .wall:before {
    content: "";
    display: block;
    width: 105%;
    height: 20px;
    border-radius: 0;
    position: absolute;
    top: -20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: inherit;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.house3 .wall:nth-child(1) {
    background-color: #dbebfa;
    -webkit-box-flex: 10;
    -ms-flex: 10;
    flex: 10;
}

.house3 .wall:nth-child(1) .window {
    -webkit-box-shadow: inset 8px 2px #7cb1ff;
    box-shadow: inset 8px 2px #7cb1ff;
}

.house3 .wall:nth-child(1):before {
    z-index: 1;
}

.house3 .wall:nth-child(2) {
    background-color: #d7d7d8;
    -webkit-box-flex: 14;
    -ms-flex: 14;
    flex: 14;
}

.house3 .wall:nth-child(2) .window {
    -webkit-box-shadow: inset 0px 2px #7cb1ff;
    box-shadow: inset 0px 2px #7cb1ff;
}

.house3 .wall:nth-child(2):before {
    z-index: 2;
}

.house3 .wall:nth-child(3) {
    background-color: #9f9fa3;
    -webkit-box-flex: 10;
    -ms-flex: 10;
    flex: 10;
}

.house3 .wall:nth-child(3) .window {
    -webkit-box-shadow: inset -8px 2px #7cb1ff;
    box-shadow: inset -8px 2px #7cb1ff;
}

.house3 .wall:nth-child(3):before {
    z-index: 1;
}

.roof {
    width: 300px;
    height: 150px;
    border-radius: 150px 150px 0 0;
    position: absolute;
    top: -170px;
    right: 5px;
    background: linear-gradient(150deg, #44c7f4, #2529d8);
}

.roof .rooftop {
    width: 28px;
    height: 14px;
    border-radius: 14px 14px 0 0;
    position: absolute;
    left: 50%;
    top: -14px;
    tranSform: translateX(-50%);
    background-color: #fff;
}

.roof .rooftop .cross {
    width: 4px;
    height: 30px;
    border-radius: 0;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 10px;
    background-color: #fff;
}

.roof .rooftop .cross:before {
    content: "";
    display: block;
    width: 20px;
    height: 4px;
    border-radius: 0;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 15px;
    background-color: #fff;
}

.allstars {
    width: 100%;
    height: 100%;
    border-radius: 0;
    position: absolute;
    left: 0;
    top: 0;
}

@-webkit-keyframes falling {
    0%,
    100% {
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
    0% {
        -webkit-transform: translate(100px, 0);
        transform: translate(100px, 0);
    }
    100% {
        -webkit-transform: translate(0px, 200px);
        transform: translate(0px, 200px);
    }
}

@keyframes falling {
    0%,
    100% {
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
    0% {
        -webkit-transform: translate(100px, 0);
        transform: translate(100px, 0);
    }
    100% {
        -webkit-transform: translate(0px, 200px);
        transform: translate(0px, 200px);
    }
}

.allstars [class^='star'] {
    background-color: #fff;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    -webkit-animation: falling 2s infinite;
    animation: falling 2s infinite;
}

.allstars .star1 {
    position: absolute;
    left: 10.1462463839%;
    top: -22.8811933368%;
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}

.allstars .star2 {
    position: absolute;
    left: 78.9596340688%;
    top: 43.7462488476%;
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}

.allstars .star3 {
    position: absolute;
    left: 18.0416120719%;
    top: 16.608663195%;
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

.allstars .star4 {
    position: absolute;
    left: 19.2253817554%;
    top: -7.5383490645%;
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

.allstars .star5 {
    position: absolute;
    left: 11.8312020807%;
    top: 14.987051732%;
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.allstars .star6 {
    position: absolute;
    left: 66.702385447%;
    top: -21.3827988979%;
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.allstars .star7 {
    position: absolute;
    left: 31.032668953%;
    top: 4.9555210722%;
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}

.allstars .star8 {
    position: absolute;
    left: 31.7762063613%;
    top: -4.6348324789%;
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

.allstars .star9 {
    position: absolute;
    left: 57.505846729%;
    top: 49.9460572006%;
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.allstars .star10 {
    position: absolute;
    left: 74.7155449141%;
    top: -27.6716462427%;
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

.allstars .star11 {
    position: absolute;
    left: 10.1217929577%;
    top: -8.3071636741%;
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.allstars .star12 {
    position: absolute;
    left: 90.1305728693%;
    top: -22.126828352%;
    -webkit-animation-delay: -1.2s;
    animation-delay: -1.2s;
}

.allstars .star13 {
    position: absolute;
    left: 9.4034295852%;
    top: -13.7242219189%;
    -webkit-animation-delay: -1.3s;
    animation-delay: -1.3s;
}

.allstars .star14 {
    position: absolute;
    left: 66.2174875375%;
    top: 13.3423372106%;
    -webkit-animation-delay: -1.4s;
    animation-delay: -1.4s;
}

.allstars .star15 {
    position: absolute;
    left: 37.0155584228%;
    top: 25.3562928505%;
    -webkit-animation-delay: -1.5s;
    animation-delay: -1.5s;
}

.allstars .star16 {
    position: absolute;
    left: 54.5387175738%;
    top: 41.3717805765%;
    -webkit-animation-delay: -1.6s;
    animation-delay: -1.6s;
}

.allstars .star17 {
    position: absolute;
    left: 52.0449133908%;
    top: -25.1539124154%;
    -webkit-animation-delay: -1.7s;
    animation-delay: -1.7s;
}

.allstars .star18 {
    position: absolute;
    left: 15.693430738%;
    top: 12.4337562338%;
    -webkit-animation-delay: -1.8s;
    animation-delay: -1.8s;
}

.allstars .star19 {
    position: absolute;
    left: 61.6606704781%;
    top: -15.5761322908%;
    -webkit-animation-delay: -1.9s;
    animation-delay: -1.9s;
}

.allstars .star20 {
    position: absolute;
    left: 32.5193325105%;
    top: 24.9490284707%;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
}

.allstars .star21 {
    position: absolute;
    left: 58.8522623808%;
    top: 20.707109794%;
    -webkit-animation-delay: -2.1s;
    animation-delay: -2.1s;
}

.allstars .star22 {
    position: absolute;
    left: 42.5056837168%;
    top: 24.5293899747%;
    -webkit-animation-delay: -2.2s;
    animation-delay: -2.2s;
}

.allstars .star23 {
    position: absolute;
    left: 53.9733245942%;
    top: -2.6534387734%;
    -webkit-animation-delay: -2.3s;
    animation-delay: -2.3s;
}

.allstars .star24 {
    position: absolute;
    left: 95.5235178611%;
    top: 20.7945112442%;
    -webkit-animation-delay: -2.4s;
    animation-delay: -2.4s;
}

.allstars .star25 {
    position: absolute;
    left: 17.3626654142%;
    top: 12.5712451579%;
    -webkit-animation-delay: -2.5s;
    animation-delay: -2.5s;
}

.allstars .star26 {
    position: absolute;
    left: 48.055533952%;
    top: -10.5384962065%;
    -webkit-animation-delay: -2.6s;
    animation-delay: -2.6s;
}

.allstars .star27 {
    position: absolute;
    left: 89.4578016899%;
    top: 19.9836016763%;
    -webkit-animation-delay: -2.7s;
    animation-delay: -2.7s;
}

.allstars .star28 {
    position: absolute;
    left: 22.9352705056%;
    top: -18.6361200749%;
    -webkit-animation-delay: -2.8s;
    animation-delay: -2.8s;
}

.allstars .star29 {
    position: absolute;
    left: 20.8360528922%;
    top: 27.6914416721%;
    -webkit-animation-delay: -2.9s;
    animation-delay: -2.9s;
}

.allstars .star30 {
    position: absolute;
    left: 19.3207868933%;
    top: 36.4061390868%;
    -webkit-animation-delay: -3s;
    animation-delay: -3s;
}

.remind {
    opacity: 0.2;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.dayText {
    display: none;
}

.sun,
.moon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: 250px;
    top: 100px;
}

.sun {
    background-color: #fff200;
    -webkit-box-shadow: 0px 0px 20px rgba(255, 242, 0, 0.5);
    box-shadow: 0px 0px 20px rgba(255, 242, 0, 0.5);
    top: 400px;
    opacity: 0;
}

.moon {
    -webkit-box-shadow: inset 10px -10px rgba(255, 255, 255, 0.9);
    box-shadow: inset 10px -10px rgba(255, 255, 255, 0.9);
    -webkit-animation: moonAppear 5s both;
    animation: moonAppear 5s both;
}

@-webkit-keyframes moonAppear {
    0% {
        -webkit-box-shadow: inset 0px 0px rgba(255, 255, 255, 0.9);
        box-shadow: inset 0px 0px rgba(255, 255, 255, 0.9);
    }
    100% {
        -webkit-box-shadow: inset 10px -10px rgba(255, 255, 255, 0.9);
        box-shadow: inset 10px -10px rgba(255, 255, 255, 0.9);
    }
}

@keyframes moonAppear {
    0% {
        -webkit-box-shadow: inset 0px 0px rgba(255, 255, 255, 0.9);
        box-shadow: inset 0px 0px rgba(255, 255, 255, 0.9);
    }
    100% {
        -webkit-box-shadow: inset 10px -10px rgba(255, 255, 255, 0.9);
        box-shadow: inset 10px -10px rgba(255, 255, 255, 0.9);
    }
}

h1,
h5,
p,
.moon,
.sun,
.scene,
.allstars,
.blueblock,
.building {
    -webkit-transition: 2s;
    transition: 2s;
}

input:checked+.scene {
    background-position: 0 100%;
}

input:checked+.scene .nightText {
    display: none;
}

input:checked+.scene .dayText {
    display: block;
    font-size: 36px;
}

input:checked+.scene .allstars {
    opacity: 0;
}

input:checked+.scene h1,
input:checked+.scene h5,
input:checked+.scene p {
    color: #222;
}

input:checked+.scene .building {
    -webkit-filter: brightness(105%);
    filter: brightness(105%);
}

input:checked+.scene .moon {
    top: -100px;
    opacity: 0;
}

input:checked+.scene .sun {
    top: 100px;
    opacity: 1;
}

input:checked+.scene .blueblock {
    background-color: #fff;
}

input {
    display: none;
}
